body {

    font-family: Arial;
    background: #121212;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

.container {

    width: 500px;

    background: #1f1f1f;

    padding: 30px;

    border-radius: 10px;
}

h1 {

    text-align: center;
    margin-bottom: 20px;
}

form {

    display: flex;
    flex-direction: column;
}

input,
select,
button {

    padding: 10px;
    margin-top: 10px;

    border: none;
    border-radius: 5px;
}

button {

    background: #4CAF50;
    color: white;
    cursor: pointer;
}

.results {

    margin-top: 20px;
}

li {

    margin-bottom: 10px;
}